
.all
{
    background-color: lightgrey;
}



.beginner
{
    background-color: darkgreen;
}

.intermediate
{
    background-color: lightgoldenrodyellow;
}

.expert
{
    background-color: crimson;
}

