
@{
    ViewBag.Title = "Breakfast";
}


<h4>
    Breakfast food is, without a doubt, my favorite type of food to prepare.  The versatility of the different ingredients means you can't really mess it up!
</h4>
<p>If I want something ligher, <span style="color:#00AF33"> avocado toast </span> can't be beat!  It's simple and flavorful.</p>
<p><img src="http://www.betches.com/sites/default/files/12916799703_2330ccd60d.jpg" /></p>
<p>When I have time to make something heartier, a traditional Southern breakfast with <span style="color: rosybrown">hashbrowns</span> and <span style="color:brown">biscuits and gravy</span> is the only choice</p>
<p><img src="http://thegalleyatthemarina.com/wp-content/uploads/2013/09/Gally-At-The-Marina_Egg-Biscuit-Gravy.jpg" /></p>


