
@{
    ViewBag.Title = "Coffee";
}

<p>You may not think that coffee is a food, but with as much as I consume, it might as well be!</p>
<p>I believe that coffee tastes best from a french press</p>
<p><img src="https://i.kinja-img.com/gawker-media/image/upload/s--yKGWzlYP--/c_fit,fl_progressive,q_80,w_636/18nnhw7rigzxojpg.jpg" /></p>
<p>My favorite coffee is Counter Culture coffee roasted in Asheville, North Carolina</p>
<p><img src="http://1.bp.blogspot.com/-4kMKxr3Epxc/VbF8yWyj-vI/AAAAAAAAAXo/4ilz33V5Dnc/s1600/Counter%2BCulture%2Bcoffee%2Bbeans%2BPortsmouth%2B760.jpg" /></p>
<p>If you'd like to learn how to brew the best french press of coffee, look <a href="https://www.stumptowncoffee.com/brew-guides/french-press">here</a></p>


