
@{
    ViewBag.Title = "Sushi";
}


<h4>
    Sushi is my favorite type of food to order out and have someone else prepare.
</h4>
<p>
    There is a sushi selection for everyone!
</p>
<p>
    For a sushi
</p>
<div>
    <span class="beginner">
        Beginner
    </span>
</div>
<div>
    <img src="http://www.allaboutsushiguide.com/images/california-roll-with-smelt-roe-on-outside.jpg" />
</div>
<p>
    Try a California roll, which is usually made with no raw fish.
</p>
<p>
</p>
<p>
    For someone
</p>
<div>
    <span class="intermediate">
        Comfortable with sushi
    </span>
</div>
<div>
    <img src="https://c2.staticflickr.com/4/3209/4011366524_e9907f8438_z.jpg?zz=1" />
</div>
<p>
    Specialty rolls allow you to try combinations of new flavors and fish
</p>
<p>
    For a sushi
</p>
<div>
    <span class="expert">
        Expert
    </span>
</div>
<div>
    <img src="http://daruma.co.nz/wp-content/gallery/nigiri-sushi/salmon_nigiri0005.jpg" />
</div>
<p>
    Nigiri shows off the fresh flavor of just the fish
</p>


