
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <p>
    <h4>
        Michael Waites is a 26 year old student at The Iron Yard in Greenville, SC.  He loves cats, coffee, and cuisine of all types.  
    </h4>
    </p>
</div>
