@{
    ViewBag.Title = "Michael's Favorite Food";
}
<div class="container" style="text-align:center">
    <p style="text-align: center">
    </p>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Coffee</h4>
            <img src="https://www.drum.fit/wp-content/uploads/2016/03/cup-of-coffee.jpg" style="height: 300px; width: 300px" />
            <p>
                Coffee includes many types of caffeinated drinks, from espresso to iced coffee to lattes.
            </p>
            <p><a class="btn btn-default" @Html.ActionLink("More", "Coffee", "Food")</a></p>
        </div>
        <div class="col-md-4">
            <h4>Breakfast Food</h4>
            <img src="http://sites.psu.edu/siowfa15/wp-content/uploads/sites/29639/2015/09/Pancake-Breakfast-1.jpg" style="height: 300px; width: 300px" />
            <p>Breakfast foods are versatile, easy to prepare, and perfect for improvisation.</p>
            <p><a class="btn btn-default" @Html.ActionLink("More", "Breakfast", "Food")</a></p>
        </div>
        <div class="col-md-4">
            <h4>Sushi</h4>
            <img src="https://img.grouponcdn.com/iam/hYKNivXdxd6pjtkdPtdy/bq-2048x1229/v1/c700x420.jpg" style="height:300px; width: 300px" />
            <p>With its many varieties and styles, sushi is a cuisine that can fit almost anyone's palate.</p>
            <p><a class="btn btn-default" @Html.ActionLink("More", "Sushi", "Food") </a></p>
        </div>
    </div>
</div>