
@{
    ViewBag.Title = "Other Pages";
}

<div class="container">
    <ul>
        <li><a href="http://www.popsci.com/technology/article/2012-06/fyi-what-espresso">The Difference Between Espresso & Coffee</a></li>
        <li><a href="http://www.pbs.org/food/the-history-kitchen/history-coffee/">A Brief History of Coffee</a></li>
        <li><a href="http://www.thekitchn.com/how-to-make-southern-biscuits-237815">How To Make A Southern Biscuit</a></li>
        <li><a href="http://www.dailyinfographic.com/wp-content/uploads/2013/09/beginners-guide-to-sushi_51c9e2be2747c.png">A Beginner's Guide To Sushi</a></li>
        <li><a href="http://www.seriouseats.com/2010/07/what-are-the-styles-of-sushi-how-to-make-sushi-rice-sumeshi-nigiri-maki-temaki.html">How To Make Sushi Rice</a></li>
    </ul>
</div>


